# Renombrar a ".env" y completar con los valores reales.
# NO subir el archivo ".env" real a ningun repositorio.

JOTFORM_API_KEY=31d6e6db01c8491c6125c8a54e6babfb

PG_HOST=
PG_PORT=5432
PG_DB=
PG_USER=
PG_PASSWORD=
